@model OnlineShopBack.Models.TAccount
@{
    ViewData["Title"] = "Edit";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading">
        Test Data from API
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Id</th>
                <th>Acc</th>
                <th>Pwd</th>
                <th>Level</th>
                <th>CreatDate</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->