@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="body" style="padding: 10px;">
    <table>
        <tr>
            <td style="text-align: right;">Account</td>
            <td>
                <input type="text" id="Account" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">PassWord</td>
            <td>
                <input type="text" id="PassWord" />
            </td>
        </tr>
    </table>
    <input type="button" id="post" value="Login" />
</div>

<script>

    $(document).ready(function (data) {
        $("#post").click(function () {
            $.ajax({
                url: "/api/Login",
                type: "post",
                contentType: "application/json",
                dataType: "text",
                data: JSON.stringify({"account": $("#Account").val(),
                                      "Pwd": $("#PassWord").val()                                                                 
                }),
                success: function (result) {
                    alert(result)
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    });

</script> 