<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading">
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>ID</th>
                <th>帳號</th>
                <th>姓名</th>
                <th>電話</th>
                <th>Email</th>
                <th>地址</th>
                <th>購物金</th>
                <th>會員等級</th>
                <th>會員狀態</th>
                <th>創建時間</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/Account",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='RegdNo'>" + item.f_id + "</td>" +
                        "<td id='RegdNo'>" + item.f_acc + "</td>" +
                        "<td id='Name'>" + item.f_name + "</td>" +
                        "<td id='phone'>" + item.f_phone + "</td>" +
                        "<td id='Address'>" + item.f_mail + "</td>" +
                        "<td id='Address'>" + item.f_address + "</td>" +
                        "<td id='Address'>" + item.f_shopGold + "</td>" +
                        "<td id='Address'>" + item.f_level + "</td>" +
                        "<td id='Address'>" + item.f_suspension + "</td>" +
                        "<td id='PhoneNo'>" + item.f_createDate + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    })

</script>  