@page
@model OnlineShopBack.Pages.BackPageModel
@{
    ViewData["Title"] = "首頁";
}
<div id="body" style="margin: 0 auto;">
    @{ if (@User.IsInRole("canUseAccount"))
        {
            <button id="Account">後台帳號管理</button>

        }
        if (@User.IsInRole("canUseMember"))
        {
            <button id="member">會員管理</button>
        }

    }
    <button id="logOut">登出</button>
</div>
<script   src="./js/index.js"></script>

<script>

</script>