@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h5>帳號登入</h5>
<div id="body" style="padding: 10px;">
    <table>
        <tr>
            <td style="text-align: right;">Account</td>
            <td>
                <input type="text" id="Account" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">PassWord</td>
            <td>
                <input type="text" id="PassWord" />
            </td>
        </tr>
    </table>
    <input type="button" id="post" value="Login" />
</div>

<script src="./js/index.js"></script>