@page
@model OnlineShopBack.Pages.Member.MemberMenuModel
@{
//Layout = null;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="body" style="margin: 5px auto;">

    <button id="AddLevelBtn">新增會員等級</button>

    <button id="AddSuspensionBtn">新增會員狀態</button>

    <button id="ShopGoldBtn">購物金管理</button>
</div>
<div style="margin:15px">
    搜尋：
    <input id="Search" oninput="memMenufun.memListSerch()">
    <select id="SearchClass" onchange="memMenufun.memListSerch()">
        <option value="f_id">Id</option>
        <option value="f_acc">帳號</option>
        <option value="f_name">姓名</option>
        <option value="f_phone">電話</option>
        <option value="f_mail">Email</option>
        <option value="f_address">地址</option>
        <option value="f_shopGold">購物金</option>
        <option value="f_LevelName">會員等級</option>
        <option value="f_suspensionName">會員狀態</option>
        <option value="f_createDate">創建時間</option>
    </select>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>帳號</th>
                    <th>姓名</th>
                    <th>電話</th>
                    <th>Email</th>
                    <th>地址</th>
                    <th>購物金</th>
                    <th>會員等級</th>
                    <th>會員狀態</th>
                    <th>創建時間</th>
                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
    <div>
        <button id="GoIndex">上一頁</button>
    </div>
</div>

<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
        @* 用append放入*@
    </form>
</div>

<script src="~/js/Member/MemberMenu.js" ></script>  

<script id="getSelect">
    //取得權限下拉選單資料
    var memLevel = "@Html.Raw(Model.Level)".split('/');
    var memLevelName = "@Html.Raw(Model.LevelName)".split('/');
    var Suspension = "@Html.Raw(Model.Suspension)".split('/');
    var SuspensionName = "@Html.Raw(Model.SuspensionName)".split('/');
    var memJson = "";
    $("#getSelect").remove();
</script>