@page
@model OnlineShopBack.Pages.Member.SelectMemberModel
@{
//Layout = null;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading">
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>ID</th>
                <th>帳號</th>
                <th>姓名</th>
                <th>電話</th>
                <th>Email</th>
                <th>地址</th>
                <th>購物金</th>
                <th>會員等級</th>
                <th>會員狀態</th>
                <th>創建時間</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->

<script src="~/js/selectMember.js" ></script>  