@page
@model OnlineShopBack.Pages.Product.AddCategoryModel
@{
    ViewData["Title"] = "新增商品類別";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h5>新增會員狀態</h5>
<div id="body" style="padding: 10px;">
    <form id="Addform" method="post" action="">
        <div>
            <label>商品類別編號:</label>
            <input type="text" id="CategoryNum" name="CategoryNum" maxlength="20" oninput="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div>
            <label for="LevelName">商品類別名稱:</label>
            <input type="text" id="CategoryName" name="CategoryName" maxlength="20" />
        </div>
        <div>
            <input id="post" type="button" value="ADD" />
        </div>
    </form>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>類別編號</th>
                    <th>類別名稱</th>
                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
</div>


<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
        @* 用append放入*@
    </form>
</div>
<div>
    <div>
        <button id="NextPage">上一頁</button>
    </div>
</div>

<script src="~/js/Product/AddCategory.js" ></script>