@page
@model OnlineShopBack.Pages.Product.AddCategoryModel
@{
    ViewData["Title"] = "新增商品類別";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h5>新增商品類別</h5>
<div id="body" style="padding: 10px;">
    <form id="Addform" method="post" action="">
        <div>
            <label>主類別:</label>
            <select id="CategoryNum">
                <option value="10">3C</option>
                <option value="20">電腦周邊</option>
                <option value="30">軟體</option>
            </select>
        </div>
        <div>
            <label>商品子類別編號:</label>
            <input type="text" id="SubCategoryNum" name="SubCategoryNum" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div>
            <label for="LevelName">商品子類別名稱:</label>
            <input type="text" id="SubCategoryName" name="SubCategoryName" maxlength="20" />
        </div>
        <div>
            <input id="AddButton" type="button" value="ADD" />
        </div>
    </form>
</div>

<div>
    <label>主類別:</label>
    <select id="CategoryGroup" onchange="AddCategoryFun.SelectCategory()">
        <option value="0">全部</option>
        <option value="10">3C</option>
        <option value="20">電腦周邊</option>
        <option value="30">軟體</option>
    </select>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>主類別</th>
                    <th>子類別編號</th>
                    <th>子類別名稱</th>
                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
</div>


<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
        @* 用append放入*@
    </form>
</div>

<div>
    <div>
        <button id="NextPage">上一頁</button>
    </div>
</div>

<script src="~/js/Product/AddCategory.js"></script>
<script>
    var CategoryJson = "";
</script>