@page
@model OnlineShopBack.Pages.Product.AddProductModel
@{
    ViewData["Title"] = "新增商品";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h5>新增商品</h5>
<h5 class=innertest></h5>
<div id="body" style="padding: 10px;">
    <form id="ProductForm" method="post" action="" enctype="multipart/form-data">
        <div>
            <label for="Num">商品代號:</label>
            <input type="text" id="Num" name="Num" maxlength="20" />
        </div>
        <div>
            <label for="Category">商品主類型:</label>
            <select id="Category" onchange="AddProductFun.SelectSubCategory()">
                <option value="10">3C</option>
                <option value="20">電腦周邊</option>
                <option value="30">軟體</option>
            </select>
        </div>
        <div>
            <label for="SubCategory">商品子類型:</label>
            <select id="SubCategory">
                @*Script 動態插入select選項*@
            </select>
        </div>
        <div>
            <label for="Name">商品名稱:</label>
            <input type="text" id="Name" name="Name" maxlength="20" />
        </div>
        <div>
            <label for="ImgPath">商品圖片:</label>
            <input type="file" name="ImgPath" id="ImgPath">
        </div>
        <div>
            <label for="Price">價格:</label>
            <input type="text" id="Price" name="Price" maxlength="7" oninput="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div>
            <label for="Status">是否開放:</label>
            <select id="Status">
                <option value="0">開放</option>
                <option value="100">不開放</option>
            </select>
        </div>
        <div>
            <label for="Content">商品細項描述:</label>
            <input type="text" id="Content" name="Content" maxlength="500" />
        </div>
        <div>
            <label for="Stock">庫存量:</label>
            <input type="text" id="Stock" name="Stock" maxlength="4" oninput="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div>
            <label for="Popularity">熱門度:</label>
            <input type="text" id="Popularity" name="Popularity" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div>
            <input id="AddButton" type="button" value="Add" />
        </div>
    </form>
</div>
<div>
    <div>
        <button id="GoMenu">上一頁</button>
    </div>
</div>
<script src="~/js/Product/AddProduct.js" ></script>

