@page
@model OnlineShopBack.Pages.Product.ProductMenuModel
@{
    ViewData["Title"] = "商品列表";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="body" style="margin: 5px auto;">

    <button id="AddProduct">新增商品</button>

    <button id="AddCategory">新增商品類別</button>

</div>

<script src="~/js/Product/ProductMenu.js"></script>

<div>
    <label>主類別:</label>
    <select id="SerchCategory">
        <option value="0">全部</option>
        <option value="10">3C</option>
        <option value="20">電腦周邊</option>
        <option value="30">軟體</option>
        
    </select>
</div>
<div style="display:none" id="SearchSubCategoryBox">
    <label for="SerchSubCategory">商品子類型:</label>
    <select id="SubCategory">
        @*Script 動態插入select選項*@
    </select>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>代號</th>
                    <th>主類別</th>
                    <th>子類別</th>
                    <th>名稱</th>
                    <th>價格</th>
                    <th>開放狀態</th>
                    <th>庫存量</th>
                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
</div>

<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
        @* 用append放入*@
    </form>
</div>