@page
@model OnlineShopBack.Pages.Product.ProductMenuModel
@{
    ViewData["Title"] = "新增商品";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="body" style="margin: 5px auto;">

    <button id="AddProduct">新增商品</button>

    <button id="AddCategory">新增商品類別</button>

</div>

<script src="~/js/Product/ProductMenu.js" ></script>