@page
@model OnlineShopBack.Pages.Order.OrderMenuModel
@{
    ViewData["Title"] = "訂單";
}
<h5>訂單</h5>
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>訂單日期</th>
                    <th>配送方式</th>
                    <th>配送狀態</th>
                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
</div>