@page
@model OnlineShopBack.Pages.Account.AccountMenuModel
@{
    ViewData["Title"] = "帳號管理";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="body" style="margin: 5px auto;">

    <button id="AddAccount">新增帳號</button>

    <button id="AddAccountLevel">新增權限</button>

</div>
<div style="margin:15px">
    @*搜尋：
        <input id="Search" type="search" class="light-table-filter" data-table="order-table" placeholder="請輸入關鍵字">*@
    搜尋：
    <input id="Search" oninput="AccListSerch()">
    <select id="SearchClass" onchange="AccListSerch()">
        <option value="0">Id</option>
        <option value="1">帳號</option>
        <option value="2">權限</option>
        <option value="3">創建時間</option>
    </select>
</div>
<div style="margin:15px">
    排序:
    <select id="OrderClass" onchange="AccListOrder(this.value)">
        <option value="0">Id(小->大)</option>
        <option value="1">Id(大->小)</option>
        <option value="2">帳號(小->大)</option>
        <option value="3">帳號(大->小)</option>
        <option value="4">權限(小->大)</option>
        <option value="5">權限(大->小)</option>
        <option value="6">創建時間(小->大)</option>
        <option value="7">創建時間(大->小)</option>
    </select>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered order-table" id="Table">
            <thead>
                <tr class="Tbheader" id="Tbheader">
                    <th id="f_id">ID</th>
                    <th id="f_acc">帳號</th>
                    <th id="f_accPosition">權限</th>
                    <th id="f_createDate">創建時間</th>
                </tr>
            </thead>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
</div>

@*<script>
        $(document).on('click', 'th', function () {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            table.children('tbody').empty().html(rows);
        });

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index),
                    valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ?
                    valA - valB : valA.localeCompare(valB);
            };
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
</script>*@


@*<script>
        (function (document) {
            'use strict';

            // 建立 LightTableFilter
            var LightTableFilter = (function (Arr) {

                var _input;

                // 資料輸入事件處理函數
                function _onInputEvent(e) {
                    _input = e.target;
                    var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                    Arr.forEach.call(tables, function (table) {
                        Arr.forEach.call(table.tBodies, function (tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                        });
                    });
                }

                // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
                function _filter(row) {
                    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    // 初始化函數
                    init: function () {
                        var inputs = document.getElementsByClassName('light-table-filter');
                        Arr.forEach.call(inputs, function (input) {
                            input.oninput = _onInputEvent;
                        });
                    }
                };
            })(Array.prototype);

            // 網頁載入完成後，啟動 LightTableFilter
            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    LightTableFilter.init();
                }
            });

        })(document);
    </script>*@

<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
    </form>
</div>

<script src="~/js/AccountMenu.js"></script>

<script id="getSelect">
    //取得權限下拉選單資料
    var accLevel = "@Html.Raw(Model.AccLevel)".split('/');
    var accPosition = "@Html.Raw(Model.AccPosition)".split('/');
    $("#getSelect").remove();

    var AccJson = ""
</script>

