@page
@model OnlineShopBack.Pages.Account.AddAccountModel

@{
    ViewData["Title"] = "新增帳號";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@*JQuery 資料驗證*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
<link rel="stylesheet" href="~/css/AddAccount.css" />

<h5>添加帳號</h5>
<h5 class=innertest ></h5>
<div id="body" style="padding: 10px;">
    <form id="form" method="post" action="">
        <div>
            <label for="Account">Account:</label>
            <input type="text" id="Account" name="Account" />
        </div>
        <div>
            <label for="PassWord">PassWord:</label>
            <input type="password" id="PassWord" name="PassWord" />
        </div>
        <div>
            <label for="Level">Level:</label>
            <select id="level">
                @*Script 動態插入select選項*@
            </select>
        </div>
        <div>
            <input id="post" type="submit" value="Add" />
        </div>
    </form>
</div>
<div>
    <div>
        <button id="GoAccMenu">上一頁</button>
    </div>
</div>
<script src="~/js/AddAccount.js"></script>

<script id="getSelect">
    //立即執行函式  (變數只會存活在這之中 不會對外造成汙染)
    (function (accLV, accPosition) {
        try {
            //組標籤
            for (var i = 0; i < accLV.length - 1; i++) {
                var LvRows = LvRows + "<option value='" + accLV[i] + "'>" + accPosition[i] + "</option>"
            }

            //將組好的標籤append至 #level
            $('#level').append(LvRows);
        }
        catch (e) {
            handleError(e);
        }
        finally {
            //清除SCRIPT標籤
            $("#getSelect").remove();
        }
    })("@Html.Raw(Model.AccLevel)".split('/'), "@Html.Raw(Model.AccPosition)".split('/'));
</script>