@page
@model OnlineShopBack.Pages.Account.AddAccountModel
@{
    ViewBag.Title = "AddAccount";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="body" style="padding: 10px;">
    <table>
        <tr>
            <td style="text-align: right;">Account</td>
            <td>
                <input type="text" id="Account" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">PassWord</td>
            <td>
                <input type="text" id="PassWord" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">Level</td>
            <td>
                <select id="level">

                    <option value='0'>超級使用者</option>

                    <option value='100'>一般使用者</option>

                </select>
            </td>
        </tr>
    </table>
    <input type="button" id="post" value="add" />
</div>

<script>

    $(document).ready(function (data) {
        $("#post").click(function () {
            $.ajax({
                url: "/api/Account",
                type: "post",
                contentType: "application/json",
                dataType: "text",
                data: JSON.stringify({"account": $("#Account").val(),
                                      "Pwd": $("#PassWord").val(),
                                      "level": parseInt($("#level").val() //parseInt轉型成int
                                     )
                }),
                success: function (result) {
                    alert(result)
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    });

</script> 