@page
@model OnlineShopBack.Pages.Account.AddAccountLevelModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*JQuery 資料驗證*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>


<h5>Add AccountLevel</h5>
<div id="body" style="padding: 10px;">
    <form id="Addform" method="post" action="">
        <div>
            <label for="AccLevel">AccLevel:</label>
            <input type="text" id="AccLevel" name="AccLevel" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')" />
        </div>
        <div>
            <label for="AccPosission">AccPosission:</label>
            <input type="text" id="AccPosission" name="AccPosission" maxlength="10" />
        </div>
        <div>
            <input type="checkbox" id="canUseAccount" value="是否有後台帳號管理權限" />
            <label for="canUseAccount">是否有後台帳號管理權限</label>

        </div>
        <div>
            <input type="checkbox" id="canUseMember" value="是否有會員管理權限" />
            <label for="canUseMember">是否有會員管理權限</label>
        </div>
        <div>
            <input id="post" type="submit" value="ADD" />
        </div>
    </form>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>編號</th>
                <th>名稱</th>
                <th>帳號管理</th>
                <th>會員管理</th>
            </tr>
        </table>
    </div>
</div>

<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
    @* 用append放入*@
    </form>
</div>

<script src="~/js/AddAccountLevel.js"></script>
