<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 要寫入的目標內容 -->
	<targets>
		<!-- 將日誌謝入文件的具體位置  -->
		<target xsi:type="File" name="allfile" 
				fileName="c:\temp\nlog-all-${shortdate}.log" />
	</targets>

	<!-- 將日誌程序名稱映射到目標的規則 -->
	<rules>
		<!--記錄所有日誌,包括Microsoft級別-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>